* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka";
}

body {
    background:
        linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),
        url(../assets/back-color.jpg);
    background-repeat: repeat;
    background-size: 180px;
}

/* ESTILOS DE BLOQUE*/
.inline-block {
    display:inline;
}


/* PORTADA */
.portada {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        
        url(../assets/back-color.jpg);
    background-size:cover;
    background-position: center;
}

#title {
    font-size: 5rem;
    font-family: 'Fredoka', sans-serif;
    color: #222222;
    text-align: center;
    text-align: center; /* gris oscuro suave */
    text-shadow: 2px 2px 6px rgba(0,0,0,0.75);
}


#title::after {
    content: "";
    display: block;
    width: 120px;
    height: 6px;
    background: #ffb703;
    margin: 15px auto 0;
    border-radius: 10px;
    border: 4px solid black;
}











/* PRINCIPAL */

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
    margin: 30px;
}


.card {
    width: 100%;
    max-width: 500px;
    height: 300px;
    box-shadow: 2px 10px 30px black;
    border-radius: 10px;
    padding: 20px;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    background-color: #ffffffcc;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.card.expanded {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    z-index: 1000;
}



.card:hover {
    transform: scale(1.05) ;
    
}






/* SECCIONES DE CARTAS */









/* media queries */
@media (min-width: 760px) {
    .portada {
        background:
            url(../assets/26_april_11.jpg);
        background-size:cover;
        background-position: center;
    }

    span {
        font-size: 8rem;
    }
}